body {
  height: 100%;
  background: url(../img/img.jpg) no-repeat center center fixed;
}

html {
  height: 100%
}

nav {
  box-shadow: 3px 3px 5px dimgray;
}

#white{
  color: #FFF;
  margin-left: 15px;
}

.all {
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
}

.log {
  background-color: rgba(72, 72, 77, 0.25);
  padding: 15px;
}

h3{
  /* gradient color */
  background: rgba(230, 87, 220, 1);
  background: -webkit-linear-gradient(left, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  background: -o-linear-gradient(left, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  background: linear-gradient(to right, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  /* gradient color */
  text-align: center;
  margin-top: -25px;
  margin-bottom: 50px;
  padding: 15px;
  color: #FFF;
  box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.89);
}

#login {
  /* gradient color */
  background: rgba(230, 87, 220, 1);
  background: -webkit-linear-gradient(left, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  background: -o-linear-gradient(left, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  background: linear-gradient(to right, rgba(230, 87, 220, 1) 0%, rgba(230, 87, 220, 1) 14%, rgba(142, 121, 209, 1) 100%);
  /* /gradient color */
  color: #FFF;
  border: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: -15px;
  box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.89);
}

.logI{
  margin-right: 10px;
}

.socialI {
  margin: 10px;
  margin-left: 10px;
  color: #FFF;
}

form.form-horizontal {
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin-top: 50px;
  padding-right: 0;
  padding-left: 0;
}

span {
  color: #FFF;
}

#inputEmail3,
#inputPassword3 {
   background: none;
   margin-bottom: 10px;
   line-height: 2.4em;
   color: #fff;
   border: 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.65);
   box-shadow: none;
 }

 #inputEmail3::placeholder,
 #inputPassword3::placeholder {
    color: #FFF;
  }

/* MEDIA QUERY */

@media screen and (max-width: 768px){
  .navbar-transparent{
    background-color: rgb(41, 87, 250)
  }

  .socialI{
    margin-left: 18px;
    margin-right: 18px;
  }

}
